.taskCard{
    width:100%;
    min-height: 100px;
    border: 1px solid rgba(194, 92, 238, 0.981);
    border-radius: 10px;
    padding:15px;
    margin:15px 0; 
}
.taskText{
    font-size:18px;
    font-weight: 600;
    margin-bottom:15px;
}
.taskDelete{
    width:35px;
    height:35px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition:all 0.3s ease-in-out;

}
.taskDelete:hover{
    background-color: rgb(186, 138, 231);
}
.delete_icon{
    width: 20px;
}
.bottomLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete_icon{
    opacity: 50%;
    width: 20px;
    transition: all 0.3s ease-in-out;
}